:root {
  --accent: #A052F2;
  --accent-alpha-70: rgba(238,114,241,.7);
  --accent-alpha-20: rgba(238,114,241,.2);

  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
